@model IEnumerable<Rental.Models.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Admin"))
{
    <h2>All Bookings</h2>
}
@if (User.IsInRole("Customer"))
{
    <h2>Your Booking List</h2>
}
<p>
    @Html.ActionLink("New Booking", "New", "Bookings", null, new { @class = "btn btn-primary" })
</p>

<table id="bookings" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Unit Price</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Update</th>
                <th>Delete</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarMake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td id="btnUpdate">
                        @Html.ActionLink("Update", "Update", new { id = item.BookingId })
                    </td>
                    <td id="btnDelete">
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingId })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>




@section scripts
{
    <script>
        $("#btnDelete").click((e) => {
            alert("Are you sure you want to delete this booking?");
        })
    </script>
}

