@model Rental.Models.Customer
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    List<SelectListItem> roles = new List<SelectListItem>();
    roles.Add(new SelectListItem { Text = "Admin", Value = "Admin" });
    roles.Add(new SelectListItem { Text = "Customer", Value = "Customer" });
}

<h2>Customer Form</h2>


@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Role)
        @Html.DropDownListFor(m => m.Role,roles, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Role)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mobile)
    </div>
    @Html.HiddenFor(m => m.CustomerId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
